camel.springboot.name={{module.name}}
routeversion={{routeversion}}

server.port={{server.port}}

consul.host={{consul.host}}
consul.port={{consul.port}}

cxf.path={{cxf.path}}

rootShareDir={{rootShareDir}}
logging.config={{logging.config}}
logging.path={{logging.path}}

spring.jpa.hibernate.ddl-auto=none
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.default_schema=documents
spring.flyway.defaultSchema=documents
spring.flyway.schemas=documents



elk.index.id={{elk.index.id}}
elk.index.name={{elk.index.name}}

checkDocument.url={{checkDocument.url}}
rumbe.check-document.check-import-document.url={{rumbe.check-document.check-import-document.url}}

store-document.url={{store-document.url}}
transfer-document.url={{transfer-document.url}}

store-document.kafka_topic={{store-document.kafka_topic}}
transfer-document.kafka_topic={{transfer-document.kafka_topic}}

spring.datasource.url={{spring.datasource.url}}
spring.datasource.username={{spring.datasource.username}}
spring.datasource.password={{spring.datasource.password}}


spring.flyway.url={{spring.flyway.url}}
spring.flyway.user={{spring.flyway.user}}
spring.flyway.password={{spring.flyway.password}}
spring.flyway.enabled={{spring.flyway.enabled}}

#kafka
kafka.broker-url={{kafka.broker-url}}
kafka.group-id={{kafka.group-id}}
kafka-import-document-topic={{kafka-import-document-topic}}
kafka-log-topic={{kafka-log-topic}}

kafka-import-document-url={{kafka-import-document-url}}
kafka-log-url={{kafka-log-url}}

kafka-soa-store-document-url={{kafka-soa-store-document-url}}
kafka-soa-transfer-document-url={{kafka-soa-transfer-document-url}}